TrainerBot.json
[
    {
        "id": "861d3afa0a8dbf57",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1031d0b7a0fc9e17",
        "type": "telegram receiver",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "bot": "bd2a3509023468b2",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "1fe56b80d011ee6e"
            ],
            []
        ]
    },
    {
        "id": "c1f5cf64f3b7cd1d",
        "type": "telegram sender",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "bot": "bd2a3509023468b2",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "78f8abad64d3a390",
        "type": "watson-assistant-v2",
        "z": "861d3afa0a8dbf57",
        "name": "Trainer Bot",
        "service-endpoint": "",
        "assistant_id": "68ccf07c-4e9b-4b29-8e5f-7e9e428d14bb",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "0080d1fc1a7a7bfd"
            ]
        ]
    },
    {
        "id": "8c35a58b66d992ab",
        "type": "function",
        "z": "861d3afa0a8dbf57",
        "name": "Proc Entrada Watson",
        "func": "msg.params = {\n    session_id: msg.payload.chatId,\n    tipo: msg.payload.type\n}\n\nmsg.payload = msg.payload.content\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "78f8abad64d3a390"
            ]
        ]
    },
    {
        "id": "0080d1fc1a7a7bfd",
        "type": "function",
        "z": "861d3afa0a8dbf57",
        "name": "Proc Saida Watson",
        "func": "msg.payload = msg.originalMessage.from.first_name + \n\", \" + msg.payload.output.generic[0].text;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "0620e0b5697e26f8"
            ]
        ]
    },
    {
        "id": "1fe56b80d011ee6e",
        "type": "switch",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "e309e4f3914f2ab7"
            ],
            [
                "8c35a58b66d992ab"
            ]
        ]
    },
    {
        "id": "e309e4f3914f2ab7",
        "type": "function",
        "z": "861d3afa0a8dbf57",
        "name": "Proc Entrada Voice",
        "func": "msg.params={\n    session_id: msg.payload.chatId,\n    tipo : msg.payload.type\n}\n\nmsg.payload = msg.payload.weblink\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "80fa3916b2a7b72b"
            ]
        ]
    },
    {
        "id": "80fa3916b2a7b72b",
        "type": "watson-speech-to-text",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "k3ZZ-M86Im2RP7WFBRcOMGiCu1XW2fNctRW3RGQ4Smpv",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/185a8eea-9ca1-4d91-8e93-3ba8041f1c72",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "78f8abad64d3a390"
            ]
        ]
    },
    {
        "id": "0620e0b5697e26f8",
        "type": "switch",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "property": "params.tipo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1330,
        "y": 240,
        "wires": [
            [
                "145d3b78a0f0ca4e"
            ],
            [
                "7f22b1c9a3ed1305"
            ]
        ]
    },
    {
        "id": "145d3b78a0f0ca4e",
        "type": "watson-text-to-speech",
        "z": "861d3afa0a8dbf57",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "sxYQ00fuld6yfOh7pQkUhK4TuQOETHLEjikz81YH08D1",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/c5d71a30-10f5-4ca8-ac16-9a36a17cc74e",
        "x": 1480,
        "y": 160,
        "wires": [
            [
                "7f22b1c9a3ed1305"
            ]
        ]
    },
    {
        "id": "7f22b1c9a3ed1305",
        "type": "function",
        "z": "861d3afa0a8dbf57",
        "name": "function 3",
        "func": "msg.payload={\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: msg.params.tipo\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 240,
        "wires": [
            [
                "c1f5cf64f3b7cd1d"
            ]
        ]
    },
    {
        "id": "bd2a3509023468b2",
        "type": "telegram bot",
        "botname": "TrainerChallenge_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]